*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}
/* header */
header{
    width: 100%;
    margin: 0 auto;
    height: 650px;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover
    /* debug */
    /* background-color: rgb(70, 43, 226); */
}
#menù{
    position: relative;
    width: 70%;
    margin: 0 auto;
    /* debug */
    /* background-color: coral;
    height: 100px; */
}
#logo{
    vertical-align: middle;
}
li, a, ul{
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 10px 8px;
}
ul{
    margin-left: 250px;
}
#accedi{
    border-radius: 40px;
    background-color: white;
    position: absolute;
    top: 25px;
    right: 5px;
    padding: 10px;
}
#accesstext{
    color: rgb(33, 83, 129);
}


#jumbotron{
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    /* debug */
    /* background-color: coral;
    height: 300px; */
}
#jumbotron h1{
    text-align: center;
    font-size: 60px;
    color: white;
}

#jumbotext{
    height: 100px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    color: white;
    text-align: center;
}
#button{
    width: 100%;
    margin: 100px auto;
    text-align: center;
    
    
}
.scarica0{
    display: inline-block;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
}
.apridiscord{
    display: inline-block;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    margin-left: 20px;
    padding: 10px;
}
.apridiscord span{
    color: white;
    font-size: 15px;
    vertical-align: middle;
}

/* main */
.container{
    width: 70%;
    margin: 0 auto;
    /* debug */
    
}

/* .sezioni{
    margin-top: 200px;
} */
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.immagine{
    float: left;
    width: 58%;
    margin: 0 1%;
    margin-top: 200px;
    /* debug */
   background-color: cornflowerblue;
   height: 200px;
}

.descrizione{
    float: left;
    width: 40%;
    margin-top: 200px;
    /* debug */
    background-color: cornflowerblue;
    height: 200px;
}

.vertical0{
    width: 70%;
    margin: 0 auto;
    margin-top: 200px;
    /* debug */
    background-color: cornflowerblue;
    height: 150px;
}

.vertical1{
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    /* debug */
    background-color: cornflowerblue;
    height: 300px;
}

#ready{
    width: 30%;
    margin: 0 auto;
    margin-top: 70px;
    /* debug */
    background-color: cornflowerblue;
    height: 150px;
}

/* footer */

.finalcolumn0{
    float: left;
    width: 30%;
    margin-top: 50px;
    /* debug */
    height: 150px;
    background-color: darkblue;
}

.finalcolumn1{
    float: left;
    width: calc(70% / 4);
    margin-top: 50px;
    /* debug */
    height: 150px;
    background-color: darkcyan;
}

.social{
    margin: 0 auto;
    width: 70%;
    margin-top: 50px;
    border-top: solid .5px cornflowerblue;
    padding: 50px;
    /* debug */
    height: 100px;
    background-color: cornflowerblue;
}